{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div style="text-align: center;">
<form method="post">{% csrf_token %}
<input type="hidden" name="score" value=0>
<input type="hidden" name="player" value="{{ user.id }}">
<input type="submit" value='始める' style="text-align: center; margin-top: 5rem;">
</form>
</div>

{% else %}
ログインしてください
<a href="{% url 'login' %}" class="btn btn-primary" role="button" aria-pressed="true" style="text-align: center;">ログイン</a>
{% endif %}
{% endblock content %}
